* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #0D0C0C;
  color: #fff;
  overflow-x: hidden;
}

html {
  overflow-x: hidden;
}

.inputBox {
  width: 100%;
  background-color: #141414;
  border-radius: 5px;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.inputBox input {
  flex: 1;
  padding: 10px;
  border: none;
  outline: none;
  background-color: transparent;
  color: #fff;
  font-size: 16px;
}

.btnGreen {
  background-color: #32CD32; /* LimeGreen for the main button */
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  font-size: 16px;
}

.btnGreen:hover {
  background-color: #228B22; /* ForestGreen on hover */
}

.grid {
  display: flex !important;
  flex-wrap: wrap !important;
  gap: 10px;
}

/* Light Mode Styles */
.lightMode {
  background-color: #fff !important;
  color: #000 !important;
}

.lightMode .navbar {
  background-color: #fff;
  color: #000; /* Ensure navbar text is visible in light mode */
}

.lightMode .tabs {
  background-color: #f7f7f7;
  color: #000; /* Ensure tabs text is visible in light mode */
}

.lightMode .tabs .tab {
  background-color: #c2c1c1;
  color: #000;
}

.lightMode .btn {
  background-color: #C2C1C1;
  color: #000;
}

body.light-mode {
  background-color: #f9f9f9;
  color: #000;
}

body.light-mode .inputBox {
  background-color: #f1f1f1; 
}

body.light-mode .inputBox input {
  color: #000; 
}

body.light-mode .btnGreen {
  background-color: #32CD32; /* LimeGreen for the main button */
  color: #fff; 
}

body.light-mode .btnGreen:hover {
  background-color: #228B22; /* ForestGreen on hover */
}

/* Dropdown Menu Styling */
body.light-mode .dropDownNavbar {
  background-color: #e5e5e5;
  color: #000;
}

body.dark-mode .dropDownNavbar {
  background-color: #1A1919;
  color: #fff;
}

